@model IEnumerable<ProductDto>
@{
    ViewData["Title"] = "Products";
}

<h1>@ViewData["Title"]</h1>

<table class="table table-hover">
    <thead>
        <tr>
            <th>Name</th>
            <th>Price</th>
            <th>Quantity</th>
            <th>Buy</th>
            <th>Delete</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var product in Model)
        {
            <tr>
                <td>@product.Name</td>
                <td>@product.Price</td>
                <td>@product.Quantity</td>
                <td><button class="btn btn-success">Buy</button></td>
                <td>
                    <form method="post" asp-controller="Product" asp-action="Delete"> @*asp-route-id="@product.Id">*@
                        <input type="hidden" value="@product.Id" name="id"/>
                        <button class="btn btn-danger">Delete</button>
                    </form>
                 </td>
            </tr>
        }
    </tbody>
</table>